.flows.json.backup
[
    {
        "id": "ebcfef6abe9ccd95",
        "type": "tab",
        "label": "natalia",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69fdd786d4b1134a",
        "type": "inject",
        "z": "ebcfef6abe9ccd95",
        "name": "data e hora atual",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "object",
        "payloadType": "date",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "70581c6b66d4030a"
            ]
        ]
    },
    {
        "id": "70581c6b66d4030a",
        "type": "function",
        "z": "ebcfef6abe9ccd95",
        "name": "function 1",
        "func": "// 1. Inicializa ou recupera contadores persistentes\n// Usamos o 'global' ou 'context' para manter os dados mesmo após o Deploy\nlet stats = context.get('stats') || { \n    total: 0, \n    sucessos: 0, \n    falhas: 0, \n    azul: 0, \n    verde: 0, \n    vermelho: 0, \n    estado: \"IDLE\" \n};\n\n// Lógica de RESET (Caso você envie uma msg \"reset\" via Inject)\nif (msg.payload === \"reset\") {\n    stats = { total: 0, sucessos: 0, falhas: 0, azul: 0, verde: 0, vermelho: 0, estado: \"IDLE\" };\n    context.set('stats', stats);\n    msg.payload = { ultimo_log: \"SISTEMA REINICIADO\", ...stats };\n    return msg;\n}\n\n// Transforma o log em string e minúsculo para busca segura\nconst log = msg.payload.toString().toLowerCase(); \n\n// 2. Regras de interpretação de Estado do Robô\nif (log.includes(\"execução\") || log.includes(\"rodando\")) {\n    stats.estado = \"OPERANDO\";\n} else if (log.includes(\"home\") || log.includes(\"parado\")) {\n    stats.estado = \"HOME\";\n} else if (log.includes(\"erro\") || log.includes(\"falha\")) {\n    stats.estado = \"ERRO\";\n}\n\n// 3. Lógica de Contagem de Peças e CORES\nif (log.includes(\"concluído\") || log.includes(\"processada\") || log.includes(\"sucesso\")) {\n    stats.total++;\n    stats.sucessos++;\n\n    // Verifica a cor e soma no contador específico\n    if (log.includes(\"azul\")) {\n        stats.azul++;\n    } else if (log.includes(\"verde\")) {\n        stats.verde++;\n    } else if (log.includes(\"vermelho\")) {\n        stats.vermelho++;\n    }\n} else if (log.includes(\"erro\") || log.includes(\"falha\") || log.includes(\"rejeitada\")) {\n    stats.falhas++;\n}\n\n// 4. Cálculos de Performance\nlet totalGeral = stats.sucessos + stats.falhas;\nlet taxa = totalGeral > 0 ? (stats.sucessos / totalGeral) * 100 : 0;\n\n// OEE Simulado: Garante que não passe de 100% e seja um número inteiro\nlet oeeSimulado = totalGeral > 0 ? Math.min(100, Math.round((stats.sucessos / totalGeral) * 95)) : 0;\n\n// 5. Salva o progresso no contexto do Node-RED\ncontext.set('stats', stats);\n\n// 6. Prepara o Payload para o Next.js (NOMES EXATOS DO SEU DASHBOARD)\nmsg.payload = {\n    total_pecas: stats.sucessos,\n    total_falhas: stats.falhas,\n    taxa_acerto: taxa.toFixed(1) + \"%\",\n    oee: oeeSimulado,\n    status_robo: stats.estado,\n    azul: stats.azul,\n    verde: stats.verde,\n    vermelho: stats.vermelho,\n    ultimo_log: msg.payload.toString() // Mensagem original para o Histórico Recente\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 220,
        "wires": [
            [
                "d4073112ba26c76b",
                "9dcef204e6080c5d"
            ]
        ]
    },
    {
        "id": "d4073112ba26c76b",
        "type": "http request",
        "z": "ebcfef6abe9ccd95",
        "name": "enviar Dashboard",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/api/update-robot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 360,
        "wires": [
            [
                "9dcef204e6080c5d"
            ]
        ]
    },
    {
        "id": "9dcef204e6080c5d",
        "type": "debug",
        "z": "ebcfef6abe9ccd95",
        "name": "saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 220,
        "wires": []
    }
]